<!doctype html>
<html ng-app="pomodoroApp">

<head>
    <meta charset="utf-8">
    <title ng-bind="humanTime"> | ng-pomodoro </title>
    <base href="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="pomodoro task manager">
    <meta name="author" content="XtarX">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />

    <!-- site css -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="css/pomodoro.css">
</head>



<!--OLD BODY BEFORE KARIM CHANGES-->
<!--
<body class="container-fluid">

    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>
    </div>
    <div ng-view></div>


</body>
-->
<!--OLD BODY BEFORE KARIM CHANGES-->

<!--    NEW BODY START-->

<body>
    <!--   NAVBAR START-->
    <div class="header">
        <div class="dropdown pull-right" ng-switch='isLoggedIn'>
            <span class="action-btn lnr lnr-menu-circle dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"></span>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-switch-when='true'>
                <li><a href="#/faq">FAQ</a></li>
                <li><a href="#/logout">Sign out</a></li>
            </ul>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" ng-switch-when='false'>

                <li><a href="#/login">Log in</a></li>
                <li><a href="#/faq">FAQ</a></li>
            </ul>
        </div>
    </div>
    <!--   NAVBAR END-->

<!--
    <div class="container">
        
    </div>
-->
<!--    //NAVIGATION //NAVIGATION-->

    <div class="container-fluid">
       
        <div class="col-sm-8 col-sm-offset-2">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
        </div>
        
        <div ng-view></div>
    </div>
</body>

<!--    NEW BODY END-->

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/vendor/dropdown.min.js"></script>
<script src="js/vendor/circle-progress.js"></script>

<script src="js/vendor/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<script src="js/pomodoroApp.js"></script>
<script src="js/service.js"></script>
<script src="js/controller.js"></script>
<script src="js/todo.js"></script>
<script src="js/filters.js"></script>

<!-- Real user service that uses an api -->
<script src="app-services/user.service.js"></script>
<script src="app-services/todo.service.js"></script>
<script src="app-services/pomodoro.service.js"></script>
<script src="app-services/store.service.local-storage.js"></script>
<!--AUTHENTICATION SCRIPTS-->
<script src="app-services/authentication.service.js"></script>
<script src="app-services/flash.service.js"></script>
<script src="login/login.controller.js"></script>
<script src="logout/logout.controller.js"></script>
<script src="register/register.controller.js"></script>
<!--AUTHENTICATION SCRIPTS-->

</html>
