<!doctype html>
<html ng-app="pomodoroApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Pomodoro App</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/pomodoro.css">
</head>

<body class="container-fluid">


    <div class="row">


        <div class="col-sm-4">
            <section ng-controller="pomodoroCtrl" class="text-center col-xs-12 form-inline">



                <!--Pomodor timer-->

                <div ng-cloak>


                    <h1 ng-class="{ 'break': isBreak }">{{humanTime}}</h1>
                    <div class="pomodoroCounter">

                        <span class="glyphicon glyphicon-record" ng-repeat="i in getNumber(pomodoroCounter)  track by $index"></span>
                    </div>
                    <h2 class="mb3">{{current.txt}}</h2>
                    <button ng-click="start()" ng-show="initialRun" class="btn btn-default">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</button>

                    <button class="btn btn-default" ng-show="isActive" ng-click="pause()">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>

                    <button class="btn btn-info" ng-hide="isActive||initialRun" ng-click="resume()">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Resume</button>
                    <button class="btn btn-danger" ng-hide="initialRun" ng-click="stop()">
                        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>


                </div>
                <!--Pomodor timer-->

                <!--to-do list-->

            </section>
        </div>
        <div class="col-sm-8">
            <section id='todoSection'>
                <div class="todo-wrapper" ng-controller="TodoCtrl">
                    <h2 class="red">YOU'VE GOT <span class="emphasis">{{todos.length}}</span> THINGS TO DO</h2>
                    <form id="addTodo" name="t" ng-submit="addTodo()">
                        <input required class=" add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />

                    </form>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="todo in todos |orderBy:$index:true track by $index ">

                            <span class="todo-item done-{{todo.done}}">{{todo.text}}</span>
                            <span class="glyphicon glyphicon-remove pull-right red" aria-hidden="true" ng-click="archive(todo)"></span>
                        </li>
                    </ul>


                    <!--                    <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>-->
                </div>
                <!--to-do list-->

            </section>
        </div>
    </div>

</body>
<script src="js/vendor/angular.min.js"></script>
<script src="js/pomodoroApp.js"></script>
<script src="js/service.js"></script>
<script src="js/controller.js"></script>
<script src="js/todo.js"></script>
<script src="js/filters.js"></script>

</html>
