<!doctype html>
<html ng-app="pomodoroApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS Pomodoro App</title>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/pomodoroApp.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/todo.js"></script>
    <script src="js/filters.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/pomodoro.css">
</head>

<body class="container-fluid">

    <section ng-controller="pomodoroCtrl" class="text-center col-xs-12 form-inline">



        <!--Pomodor timer-->

        <div>


            <h1 ng-class="{ 'break': isBreak }">{{humanTime}}</h1>
            <h2 class="mb3">{{current.txt}}</h2>
            <button ng-click="start()" ng-show="initialRun" class="btn btn-default">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</button>

            <button class="btn btn-default" ng-show="isActive" ng-click="pause()">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>

            <button class="btn btn-info" ng-hide="isActive||initialRun" ng-click="resume()">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Resume</button>
            <button class="btn btn-danger" ng-hide="initialRun" ng-click="stop()">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>


        </div>
        <!--Pomodor timer-->

        <!--to-do list-->
        <div class="todo-wrapper" ng-controller="TodoCtrl">
            <h2>You've got <span class="emphasis">{{todos.length}}</span> things to do</h2>
            <ul>
                <li ng-repeat="todo in todos track by $index">
                    <input type="checkbox" ng-model="todo.done" />
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
            <form name="t">
                <input required class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant />
                <button class="add-btn" ng-click="addTodo()" ng-show="">
                    <h2>Add</h2></button>
            </form>

            <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
        </div>
        <!--to-do list-->

    </section>
</body>

</html>
